/* .body {
  background-color: rgb(4, 15, 40);
} */

.header {
  display: grid;
  grid-template-columns: 3fr 2.5fr 1fr;
  grid-template-rows: 1.5fr 7fr;
  min-height: 600px;
  align-items: center;
  grid-template-areas:
    "header-logo header-nav header-register"
    "header-text header-foto header-foto"
    "header-bottom header-foto header-foto";
}
.header-logo {
  grid-area: header-logo;
  margin-left: 142px;
}

.header-nav {
  grid-area: header-nav;
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.header-register {
  grid-area: header-register;
  margin-right: 158px;
}

.header-text {
  grid-area: header-text;
  margin-left: 142px;
}

.header-bottom {
  grid-area: header-bottom;
  margin-left: 142px;
}

.foto {
  grid-area: header-foto;
  justify-self: center;
  width: 497px;
  margin-right: 130px;
}

.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 317px;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
